.page {
  :global(.TableCell) {
    &.description {
      flex-grow: 1;
    }

    &.destinations {
      flex-grow: 0.45;
    }

    &.syncWindows {
      flex-grow: 0.45;
    }

    &.age {
      flex-grow: 0.3;
    }
  }
}
