*.d.ts
*.gz
*.lock
*.log
*.map
*.out
*.tgz
*.tmp
*.tsbuildinfo
*~
?.*

!custom.d.ts
!env.d.ts
!*.css.d.ts
!*.d.scss.ts

/dist/

/coverage/
/node_modules/
/out/

/.nyc_output/

*.DS_Store
/.idea
/.vscode

.pnpm-store